In [20]:
import pandas as pd
data = pd.read_csv('life expectancy.csv')
data

   Country  Year  Population       GDP  Life Expectancy
0      USA  2020   331000000  21000000             75.8
1      USA  2021   332000000  21500000             78.7
2    China  2020  1402000000  14700000             76.9
3    China  2021  1405000000  15500000             77.1
4  Germany  2020    83000000   4000000             81.3
5  Germany  2021    83100000   4200000             81.5

In [4]:
# (a)
# Include functions like mean(), sum(), max(), min() from Pandas and np.mean(), np.std(), np.sum() from NumPy. 
# Demonstrate how they can be applied to quickly compute summary statistics for columns like Population and GDP in the dataset.

In [22]:
import numpy as np
statspandas = {
    'Population Mean': data['Population'].mean(),
    'GDP Sum': data['GDP'].sum(),
    'GDP Max': data['GDP'].max(),
    'GDP Min': data['GDP'].min(),
}
statsnumpy = {
    'Population Mean': np.mean(data['Population']),
    'GDP Standard Deviation': np.std(data['GDP']),
    'GDP Sum': np.sum(data['GDP']),
}
stats = {
    'Pandas': statspandas,
    'NumPy': statsnumpy,
}
print("Summary Statistics:")
print("Using Pandas:")
for key, value in statspandas.items():
    print(f"  {key}: {value:,.2f}")
print("\nUsing NumPy:")
for key, value in statsnumpy.items():
    print(f"  {key}: {value:,.2f}")

Summary Statistics:
Using Pandas:
  Population Mean: 606,016,666.67
  GDP Sum: 80,900,000.00
  GDP Max: 21,500,000.00
  GDP Min: 4,000,000.00

Using NumPy:
  Population Mean: 606,016,666.67
  GDP Standard Deviation: 7,099,628.32
  GDP Sum: 80,900,000.00

In [24]:
# (b)
# Apply a function to increase the GDP column by 10% across all rows and discuss the performance benefits of 
# using vectorized operations with Pandas over looping through rows.

In [26]:
data['10% GDP Increase'] = data['GDP'] * 1.10
data[['Country', 'Year', 'GDP', '10% GDP Increase']].head()

   Country  Year       GDP  10% GDP Increase
0      USA  2020  21000000        23100000.0
1      USA  2021  21500000        23650000.0
2    China  2020  14700000        16170000.0
3    China  2021  15500000        17050000.0
4  Germany  2020   4000000         4400000.0

In [28]:
# (c)
# Use swaplevel() on the Country and Year multi-index to reverse the order of levels, then sort by Year. 
# This could be useful, for instance, when analyzing data trends over time by country rather than by year.

In [30]:
multiindex = data.set_index(['Country', 'Year'])
swapped = multiindex.swaplevel().sort_index(level='Year')
swapped.head()

              Population       GDP  Life Expectancy  10% GDP Increase
Year Country
2020 China    1402000000  14700000             76.9        16170000.0
     Germany    83000000   4000000             81.3         4400000.0
     USA       331000000  21000000             75.8        23100000.0
2021 China    1405000000  15500000             77.1        17050000.0
     Germany    83100000   4200000             81.5         4620000.0

In [32]:
# (d)
# Use unstack() to pivot the data so that Year becomes columns while keeping Country as the row index. 
# This can help compare GDP and Life_Expectancy values across years for each country in a single view.

In [36]:
unstackeddata = multiindex.unstack(level='Year')
unstackeddata.head()

         Population                   GDP           Life Expectancy        \
Year           2020        2021      2020      2021            2020  2021
Country
China    1402000000  1405000000  14700000  15500000            76.9  77.1
Germany    83000000    83100000   4000000   4200000            81.3  81.5
USA       331000000   332000000  21000000  21500000            75.8  78.7

        10% GDP Increase
Year                2020        2021
Country
China         16170000.0  17050000.0
Germany        4400000.0   4620000.0
USA           23100000.0  23650000.0

In [38]:
# (e)
# Use hierarchical indexing to organize the dataset by Country and Year for easy retrieval of population trends 
# for each country over time. This approach is helpful in scenarios like tracking multi-year health or
# economic indicators across regions.

In [46]:
poptrends = multiindex['Population']
poptrends.head()

Country  Year
USA      2020     331000000
         2021     332000000
China    2020    1402000000
         2021    1405000000
Germany  2020      83000000
Name: Population, dtype: int64